# Extranccción datos covid Colombia

In [1]:
# Librerias


## librerias de analisis
import pandas as pd
import numpy as np

## librerias para conexiones
import requests
from sodapy import Socrata

## librerias de tiempo
from datetime import date, timedelta

#librerias para exportar resumenes a excel
from pandas import ExcelWriter

## librerias para realizar graficas de analisis de datos
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly
import plotly.express as px
import cufflinks as cf

init_notebook_mode(connected = True)
sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')
cf.go_offline()

/Users/andresmauriciotrianareina/miniforge3/envs/AndData/lib/python3.8/site-packages/google/colab/data_table.py:30: UserWarning:

IPython.utils.traitlets has moved to a top-level traitlets package.

In [2]:
## Conexion datos API

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("www.datos.gov.co", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(www.datos.gov.co,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# se calcula los datos para 5 millon es de filas
results = client.get("gt2j-8ykr", limit=10000000)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
df

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,recuperado,fecha_inicio_sintomas,fecha_diagnostico,fecha_recuperado,tipo_recuperacion,per_etn_,nom_grupo_,fecha_muerte,pais_viajo_1_cod,pais_viajo_1_nom
0,2021-03-04 00:00:00,2265685,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,M,...,Recuperado,2021-02-25 00:00:00,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
1,2021-03-04 00:00:00,2265686,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,M,...,Recuperado,2021-02-23 00:00:00,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
2,2021-03-04 00:00:00,2265687,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,F,...,Recuperado,2021-02-24 00:00:00,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
3,2021-03-04 00:00:00,2265688,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,F,...,Recuperado,2021-02-27 00:00:00,2021-03-03 00:00:00,2021-03-13 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
4,2021-03-04 00:00:00,2265689,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,F,...,Recuperado,2021-03-01 00:00:00,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198843,2022-02-05 00:00:00,5956386,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,47,1,M,...,Recuperado,2022-01-15 00:00:00,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
6198844,2022-02-05 00:00:00,5956387,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,39,1,M,...,Recuperado,2022-01-15 00:00:00,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
6198845,2022-02-05 00:00:00,5956388,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,35,1,M,...,Recuperado,2022-01-15 00:00:00,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
6198846,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,M,...,Recuperado,2022-01-15 00:00:00,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN
6198847,2022-02-05 00:00:00,5956390,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,34,1,F,...,Recuperado,2022-01-15 00:00:00,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6,NaN,NaN,NaN,NaN

In [4]:
# Se verifican las columnas

df.columns

Index(['fecha_reporte_web', 'id_de_caso', 'fecha_de_notificaci_n',
       'departamento', 'departamento_nom', 'ciudad_municipio',
       'ciudad_municipio_nom', 'edad', 'unidad_medida', 'sexo',
       'fuente_tipo_contagio', 'ubicacion', 'estado', 'recuperado',
       'fecha_inicio_sintomas', 'fecha_diagnostico', 'fecha_recuperado',
       'tipo_recuperacion', 'per_etn_', 'nom_grupo_', 'fecha_muerte',
       'pais_viajo_1_cod', 'pais_viajo_1_nom'],
      dtype='object')

In [5]:
contarFilas = df['id_de_caso'].count()
contarFilas

6198848

In [6]:
#Se verifican el tipo de datos y si tiene nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6198848 entries, 0 to 6198847
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_reporte_web      object
 1   id_de_caso             object
 2   fecha_de_notificaci_n  object
 3   departamento           object
 4   departamento_nom       object
 5   ciudad_municipio       object
 6   ciudad_municipio_nom   object
 7   edad                   object
 8   unidad_medida          object
 9   sexo                   object
 10  fuente_tipo_contagio   object
 11  ubicacion              object
 12  estado                 object
 13  recuperado             object
 14  fecha_inicio_sintomas  object
 15  fecha_diagnostico      object
 16  fecha_recuperado       object
 17  tipo_recuperacion      object
 18  per_etn_               object
 19  nom_grupo_             object
 20  fecha_muerte           object
 21  pais_viajo_1_cod       object
 22  pais_viajo_1_nom       object
dtypes: object(23)
memory usage: 1.1+ GB

In [7]:
# Se agrega nueva columna para saber contagios y otra para despues depurar el departamento

df['Contagios'] = 1
df['Lugar'] = df['departamento_nom']

### Estandarización nombres departamentos¶

In [8]:
#Se estandatiza el nombre de los departamentos


df['Lugar'].replace(
    to_replace=['BOGOTA'],
    value='SANTAFE DE BOGOTA D.C',
    inplace=True
)


df['Lugar'].replace(
    to_replace=['BARRANQUILLA'],
    value='ATLANTICO',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['ATLANTICO'],
    value='ATLANTICO',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['VALLE'],
    value='VALLE DEL CAUCA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['CARTAGENA'],
    value='BOLIVAR',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Antioquia'],
    value='ANTIOQUIA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Nariño'],
    value='NARIÑO',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Cundinamarca'],
    value='CUNDINAMARCA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Amazonas'],
    value='AMAZONAS',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Sucre'],
    value='SUCRE',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Chocó'],
    value='CHOCO',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Buenaventura D.E.'],
    value='VALLE DEL CAUCA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Meta'],
    value='META',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Cesar'],
    value='CESAR',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['STA MARTA D.E.'],
    value='MAGDALENA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Córdoba'],
    value='CORDOBA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Bolívar'],
    value='BOLIVAR',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Tolima'],
    value='TOLIMA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Santander'],
    value='SANTANDER',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Magdalena'],
    value='MAGDALENA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['GUAJIRA'],
    value='LA GUAJIRA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Risaralda'],
    value='RISARALDA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Cauca'],
    value='CAUCA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Boyacá'],
    value='BOYACA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Norte de Santander'],
    value='NORTE DE SANTANDER',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Huila'],
    value='HUILA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Caldas'],
    value='CALDAS',
    inplace=True
)


df['Lugar'].replace(
    to_replace=['Quindío'],
    value='QUINDIO',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Arauca'],
    value='ARAUCA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Casanare'],
    value='CASANARE',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Caquetá'],
    value='CAQUETA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Guaviare'],
    value='GUAVIARE',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Putumayo'],
    value='PUTUMAYO',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Vaupés'],
    value='VAUPES',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['SAN ANDRES'],
    value='ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA CATALINA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Guainía'],
    value='GUAINIA',
    inplace=True
)

df['Lugar'].replace(
    to_replace=['Vichada'],
    value='VICHADA',
    inplace=True
)

### Estandarización genero

In [9]:
# Se estandariza el genero

df['sexo'].replace(
    to_replace=['f'],
    value='F',
    inplace=True
)

df['sexo'].replace(
    to_replace=['m'],
    value='M',
    inplace=True

)

df['sexo'].replace(
    to_replace=['M'],
    value='Masculino',
    inplace=True
)

df['sexo'].replace(
    to_replace=['F'],
    value='Femenino',
    inplace=True
)

### Estandarización atención

In [10]:
# en columna recuperado, se estandariza

df['recuperado'].replace(
    to_replace=['fallecido'],
    value='Fallecido',
    inplace=True
)

#Se ve la sumatoria de los estados, según columna recuperado

Estado = df.groupby(['recuperado']).sum().reset_index()
Estado

   recuperado  Contagios
0      Activo      25057
1   Fallecido     140202
2         N/A      25545
3  Recuperado    6008044

In [11]:
#Se conviente edad string a numerico

df['Edad'] = pd.to_numeric(df["edad"])

In [12]:
df['Mayores_Hombres'] = 0
df['Mayores_Mujeres'] = 0

In [13]:
def Mayores():
    for i in range(contarFilas):
        if df['sexo'][i] == 'Masculino' and df['Edad'][i]>=18:
            df['Mayores_Hombres'][i] = 1
        elif df['sexo'][i] == 'Femenino' and df['Edad'][i]>=18:
            df['Mayores_Mujeres'][i] = 1
    return df
Mayores()

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,per_etn_,nom_grupo_,fecha_muerte,pais_viajo_1_cod,pais_viajo_1_nom,Contagios,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres
0,2021-03-04 00:00:00,2265685,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,6,NaN,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,49,1,0
1,2021-03-04 00:00:00,2265686,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,6,NaN,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,49,1,0
2,2021-03-04 00:00:00,2265687,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,6,NaN,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1
3,2021-03-04 00:00:00,2265688,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,6,NaN,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1
4,2021-03-04 00:00:00,2265689,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,6,NaN,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198843,2022-02-05 00:00:00,5956386,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,47,1,Masculino,...,6,NaN,NaN,NaN,NaN,1,META,47,1,0
6198844,2022-02-05 00:00:00,5956387,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,39,1,Masculino,...,6,NaN,NaN,NaN,NaN,1,META,39,1,0
6198845,2022-02-05 00:00:00,5956388,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,35,1,Masculino,...,6,NaN,NaN,NaN,NaN,1,META,35,1,0
6198846,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,Masculino,...,6,NaN,NaN,NaN,NaN,1,META,11,0,0
6198847,2022-02-05 00:00:00,5956390,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,34,1,Femenino,...,6,NaN,NaN,NaN,NaN,1,META,34,0,1

In [14]:
df['Menores_Hombres'] = 0
df['Menores_Mujeres'] = 0

In [15]:
def Menores():
    for i in range(contarFilas):
        if df['sexo'][i] == 'Masculino' and df['Edad'][i]<18:
            df['Menores_Hombres'][i] = 1
        elif df['sexo'][i] == 'Femenino' and df['Edad'][i]<18:
            df['Menores_Mujeres'][i] = 1
    return df
Menores()

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,fecha_muerte,pais_viajo_1_cod,pais_viajo_1_nom,Contagios,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres
0,2021-03-04 00:00:00,2265685,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,49,1,0,0,0
1,2021-03-04 00:00:00,2265686,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,49,1,0,0,0
2,2021-03-04 00:00:00,2265687,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0
3,2021-03-04 00:00:00,2265688,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0
4,2021-03-04 00:00:00,2265689,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198843,2022-02-05 00:00:00,5956386,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,47,1,Masculino,...,NaN,NaN,NaN,1,META,47,1,0,0,0
6198844,2022-02-05 00:00:00,5956387,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,39,1,Masculino,...,NaN,NaN,NaN,1,META,39,1,0,0,0
6198845,2022-02-05 00:00:00,5956388,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,35,1,Masculino,...,NaN,NaN,NaN,1,META,35,1,0,0,0
6198846,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,Masculino,...,NaN,NaN,NaN,1,META,11,0,0,1,0
6198847,2022-02-05 00:00:00,5956390,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,34,1,Femenino,...,NaN,NaN,NaN,1,META,34,0,1,0,0

In [16]:
# Se crea una nueva columna, si es fallecido, coloque 1, de lo contrario, coloca 0

df['Fallecidos'] = 0

def fallecidos():
    for i in range(contarFilas):
        if df['recuperado'][i] == 'Fallecido':
            df['Fallecidos'][i] = 1
    return df
fallecidos()

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,pais_viajo_1_cod,pais_viajo_1_nom,Contagios,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos
0,2021-03-04 00:00:00,2265685,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,NaN,NaN,1,SANTAFE DE BOGOTA D.C,49,1,0,0,0,0
1,2021-03-04 00:00:00,2265686,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,NaN,NaN,1,SANTAFE DE BOGOTA D.C,49,1,0,0,0,0
2,2021-03-04 00:00:00,2265687,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0
3,2021-03-04 00:00:00,2265688,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0
4,2021-03-04 00:00:00,2265689,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198843,2022-02-05 00:00:00,5956386,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,47,1,Masculino,...,NaN,NaN,1,META,47,1,0,0,0,0
6198844,2022-02-05 00:00:00,5956387,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,39,1,Masculino,...,NaN,NaN,1,META,39,1,0,0,0,0
6198845,2022-02-05 00:00:00,5956388,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,35,1,Masculino,...,NaN,NaN,1,META,35,1,0,0,0,0
6198846,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,Masculino,...,NaN,NaN,1,META,11,0,0,1,0,0
6198847,2022-02-05 00:00:00,5956390,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,34,1,Femenino,...,NaN,NaN,1,META,34,0,1,0,0,0

In [17]:
# Se crea una nueva columna, si es fallecido, coloque 1, de lo contrario, coloca 0

df['Recuperados'] = 0

def recuperados():
    for i in range(contarFilas):
        if df['recuperado'][i] == 'Recuperado':
            df['Recuperados'][i] = 1
    return df
recuperados()

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,pais_viajo_1_nom,Contagios,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados
0,2021-03-04 00:00:00,2265685,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,NaN,1,SANTAFE DE BOGOTA D.C,49,1,0,0,0,0,1
1,2021-03-04 00:00:00,2265686,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,NaN,1,SANTAFE DE BOGOTA D.C,49,1,0,0,0,0,1
2,2021-03-04 00:00:00,2265687,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1
3,2021-03-04 00:00:00,2265688,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1
4,2021-03-04 00:00:00,2265689,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,NaN,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198843,2022-02-05 00:00:00,5956386,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,47,1,Masculino,...,NaN,1,META,47,1,0,0,0,0,1
6198844,2022-02-05 00:00:00,5956387,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,39,1,Masculino,...,NaN,1,META,39,1,0,0,0,0,1
6198845,2022-02-05 00:00:00,5956388,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,35,1,Masculino,...,NaN,1,META,35,1,0,0,0,0,1
6198846,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,Masculino,...,NaN,1,META,11,0,0,1,0,0,1
6198847,2022-02-05 00:00:00,5956390,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,34,1,Femenino,...,NaN,1,META,34,0,1,0,0,0,1

In [18]:
df['Activo'] = 0

def activo():
    for i in range(contarFilas):
        if df['recuperado'][i] == 'Activo':
            df['Activo'][i] = 1
    return df
activo()

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Contagios,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo
0,2021-03-04 00:00:00,2265685,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,1,SANTAFE DE BOGOTA D.C,49,1,0,0,0,0,1,0
1,2021-03-04 00:00:00,2265686,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,1,SANTAFE DE BOGOTA D.C,49,1,0,0,0,0,1,0
2,2021-03-04 00:00:00,2265687,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1,0
3,2021-03-04 00:00:00,2265688,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1,0
4,2021-03-04 00:00:00,2265689,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,1,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198843,2022-02-05 00:00:00,5956386,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,47,1,Masculino,...,1,META,47,1,0,0,0,0,1,0
6198844,2022-02-05 00:00:00,5956387,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,39,1,Masculino,...,1,META,39,1,0,0,0,0,1,0
6198845,2022-02-05 00:00:00,5956388,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,35,1,Masculino,...,1,META,35,1,0,0,0,0,1,0
6198846,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,Masculino,...,1,META,11,0,0,1,0,0,1,0
6198847,2022-02-05 00:00:00,5956390,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,34,1,Femenino,...,1,META,34,0,1,0,0,0,1,0

In [19]:

# En las casillas con datos vacios, se coloca 0

df = df.fillna(0)

In [20]:
# Los datos vacios en la columna recuperado, se colocan como sin clasificar

df['recuperado'].replace(
    to_replace=['N/A'],
    value='Sin clasificar',
    inplace=True
)

sin = df[df['recuperado'] == 'Sin clasificar']
sin

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Contagios,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo
59,2020-09-08 00:00:00,675929,2020-08-27 00:00:00,18,CAQUETA,18256,EL PAUJIL,50,1,Femenino,...,1,CAQUETA,50,0,1,0,0,0,0,0
261,2021-03-29 00:00:00,2388966,2021-03-24 00:00:00,8001,BARRANQUILLA,8001,BARRANQUILLA,90,1,Masculino,...,1,ATLANTICO,90,1,0,0,0,0,0,0
335,2021-03-29 00:00:00,2389040,2021-03-15 00:00:00,8001,BARRANQUILLA,8001,BARRANQUILLA,60,1,Masculino,...,1,ATLANTICO,60,1,0,0,0,0,0,0
439,2021-04-03 00:00:00,2435322,2021-03-27 00:00:00,8001,BARRANQUILLA,8001,BARRANQUILLA,53,1,Masculino,...,1,ATLANTICO,53,1,0,0,0,0,0,0
552,2021-01-20 00:00:00,1940303,2021-01-20 00:00:00,5,ANTIOQUIA,5001,MEDELLIN,92,1,Femenino,...,1,ANTIOQUIA,92,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198639,2022-02-05 00:00:00,5956182,2022-01-18 00:00:00,50,META,50001,VILLAVICENCIO,78,1,Masculino,...,1,META,78,1,0,0,0,0,0,0
6198688,2022-02-05 00:00:00,5956231,2022-01-18 00:00:00,25,CUNDINAMARCA,25758,SOPO,64,1,Femenino,...,1,CUNDINAMARCA,64,0,1,0,0,0,0,0
6198706,2022-02-05 00:00:00,5956249,2022-01-18 00:00:00,50,META,50001,VILLAVICENCIO,82,1,Masculino,...,1,META,82,1,0,0,0,0,0,0
6198828,2022-02-05 00:00:00,5956371,2022-01-19 00:00:00,50,META,50689,SAN MARTIN,92,1,Femenino,...,1,META,92,0,1,0,0,0,0,0
6198840,2022-02-05 00:00:00,5956383,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,90,1,Masculino,...,1,META,90,1,0,0,0,0,0,0

In [21]:
df['Pendiente'] = 0

def pendiente():
    for i in range(contarFilas):
        if df['recuperado'][i] == 'Sin clasificar':
            df['Pendiente'][i] = 1
    return df
pendiente()

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
0,2021-03-04 00:00:00,2265685,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,SANTAFE DE BOGOTA D.C,49,1,0,0,0,0,1,0,0
1,2021-03-04 00:00:00,2265686,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,Masculino,...,SANTAFE DE BOGOTA D.C,49,1,0,0,0,0,1,0,0
2,2021-03-04 00:00:00,2265687,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1,0,0
3,2021-03-04 00:00:00,2265688,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1,0,0
4,2021-03-04 00:00:00,2265689,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,Femenino,...,SANTAFE DE BOGOTA D.C,51,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198843,2022-02-05 00:00:00,5956386,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,47,1,Masculino,...,META,47,1,0,0,0,0,1,0,0
6198844,2022-02-05 00:00:00,5956387,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,39,1,Masculino,...,META,39,1,0,0,0,0,1,0,0
6198845,2022-02-05 00:00:00,5956388,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,35,1,Masculino,...,META,35,1,0,0,0,0,1,0,0
6198846,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,Masculino,...,META,11,0,0,1,0,0,1,0,0
6198847,2022-02-05 00:00:00,5956390,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,34,1,Femenino,...,META,34,0,1,0,0,0,1,0,0

In [22]:
suma_contagios = sum(df['Contagios'])
suma_contagios

6198848

In [23]:
suma_fallecidos = sum(df['Fallecidos'])
suma_fallecidos

140202

In [24]:
suma_recuperados = sum(df['Recuperados'])
suma_recuperados

6008044

In [25]:
suma_activos = sum(df['Activo'])
suma_activos

25057

In [26]:

# Se crear resumen por departamento, diferentes estados y se calculan los porcentajes de participación

Depar = df.groupby(['Lugar']).sum().reset_index()

Depar['% contagios'] = Depar['Contagios']/suma_contagios
Depar['% fallecidos'] = Depar['Fallecidos']/suma_fallecidos
Depar['% recuperados'] = Depar['Recuperados']/suma_recuperados
Depar['% activos'] = Depar['Activo']/suma_activos
Depar

,Lugar,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente,% contagios,% fallecidos,% recuperados,% activos
0,AMAZONAS,7593,285789,3618,3087,476,412,265,7289,7,32,0.001225,0.001890,0.001213,0.000279
1,ANTIOQUIA,932175,36627652,397051,462405,36475,36244,18359,908798,2273,2745,0.150379,0.130947,0.151264,0.090713
2,ARAUCA,16517,644145,7670,7554,693,600,538,15794,96,89,0.002665,0.003837,0.002629,0.003831
3,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,10277,412335,4399,5208,317,353,155,10063,26,33,0.001658,0.001106,0.001675,0.001038
4,ATLANTICO,412169,16563281,170225,196171,23040,22733,10155,398375,1756,1883,0.066491,0.072431,0.066307,0.070080
5,BOLIVAR,200944,7909390,83621,96954,10166,10203,3250,195843,1116,735,0.032416,0.023181,0.032597,0.044538
6,BOYACA,126425,5067164,56021,60288,5077,5039,2795,122470,454,706,0.020395,0.019936,0.020384,0.018119
7,CALDAS,117488,4891751,50065,58880,4125,4418,2531,114032,212,713,0.018953,0.018053,0.018980,0.008461
8,CAQUETA,25111,1008069,11694,11451,932,1034,1035,23791,64,221,0.004051,0.007382,0.003960,0.002554
9,CASANARE,42120,1570053,20871,18028,1595,1626,1008,40820,89,203,0.006795,0.007190,0.006794,0.003552
10,CAUCA,73439,3005452,31491,36271,2807,2870,1797,70696,423,523,0.011847,0.012817,0.011767,0.016882
11,CESAR,107613,4177754,45062,50438,6036,6077,2678,104109,247,579,0.017360,0.019101,0.017328,0.009858
12,CHOCO,18704,727700,7501,9321,837,1045,430,18106,33,135,0.003017,0.003067,0.003014,0.001317
13,CORDOBA,121303,5028074,48409,60507,6050,6337,3971,116037,520,775,0.019569,0.028323,0.019314,0.020753
14,CUNDINAMARCA,322629,12576687,135438,158116,14571,14504,7312,312448,1332,1537,0.052047,0.052153,0.052005,0.053159
15,GUAINIA,2768,97528,1332,1231,93,112,37,2719,1,11,0.000447,0.000264,0.000453,0.000040
16,GUAVIARE,5604,209961,2718,2463,224,199,105,5465,6,28,0.000904,0.000749,0.000910,0.000239
17,HUILA,101349,4132585,45158,48824,3591,3776,3521,96902,414,512,0.016350,0.025114,0.016129,0.016522
18,LA GUAJIRA,57098,2198446,22099,27631,3636,3732,1534,55118,255,191,0.009211,0.010941,0.009174,0.010177
19,MAGDALENA,116470,4643786,46923,56631,6284,6632,3649,112226,128,467,0.018789,0.026027,0.018679,0.005108
20,META,105717,4115671,51624,46864,3624,3605,2555,102423,262,477,0.017054,0.018224,0.017048,0.010456
21,NARIÑO,104949,4335371,46154,52364,3117,3314,3327,100786,282,554,0.016930,0.023730,0.016775,0.011254
22,NORTE SANTANDER,121400,4961910,53273,59260,4405,4462,5122,115132,456,690,0.019584,0.036533,0.019163,0.018199
23,PUTUMAYO,20631,816058,9507,9523,773,828,776,19692,52,111,0.003328,0.005535,0.003278,0.002075
24,QUINDIO,71276,3022836,30512,35556,2539,2669,2060,68646,172,398,0.011498,0.014693,0.011426,0.006864
25,RISARALDA,107259,4390940,47556,53172,3214,3317,2477,103837,277,668,0.017303,0.017667,0.017283,0.011055
26,SANTAFE DE BOGOTA D.C,1812958,70610016,743942,896912,86609,85495,29593,1768307,9656,5402,0.292467,0.211074,0.294323,0.385361
27,SANTANDER,287715,11801664,126898,140657,10090,10070,8216,277660,824,1015,0.046414,0.058601,0.046215,0.032885
28,SUCRE,66551,2734931,27014,32640,3416,3481,1723,64246,265,317,0.010736,0.012289,0.010693,0.010576
29,TOLIMA,125349,5194508,56017,60224,4516,4592,4025,120415,227,682,0.020221,0.028709,0.020042,0.009059
30,VALLE DEL CAUCA,551933,22836702,237950,274367,19821,19795,15119,530587,3125,3102,0.089038,0.107837,0.088313,0.124716
31,VAUPES,1896,72740,939,825,60,72,22,1869,0,5,0.000306,0.000157,0.000311,0.000000
32,VICHADA,3418,126269,1839,1409,83,87,62,3343,7,6,0.000551,0.000442,0.000556,0.000279

In [27]:
# Se coloca la infromación que se necesita del analisis

Departamento = pd.concat([Depar['Lugar'], Depar['Contagios'], Depar['% contagios'],  Depar['Fallecidos'], Depar['% fallecidos'], Depar['Recuperados'], Depar['% recuperados'], Depar['Activo'], Depar['% activos'], Depar['Pendiente']], axis=1)

Departamento.columns = ['Departamento', 'Contagios', '% contagiados','Fallecidos', '% fallecidos', 'Recuperados', '% recuperados', 'Activos', '% activos', 'Pendientes clasificar']

Departamento

,Departamento,Contagios,% contagiados,Fallecidos,% fallecidos,Recuperados,% recuperados,Activos,% activos,Pendientes clasificar
0,AMAZONAS,7593,0.001225,265,0.001890,7289,0.001213,7,0.000279,32
1,ANTIOQUIA,932175,0.150379,18359,0.130947,908798,0.151264,2273,0.090713,2745
2,ARAUCA,16517,0.002665,538,0.003837,15794,0.002629,96,0.003831,89
3,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,10277,0.001658,155,0.001106,10063,0.001675,26,0.001038,33
4,ATLANTICO,412169,0.066491,10155,0.072431,398375,0.066307,1756,0.070080,1883
5,BOLIVAR,200944,0.032416,3250,0.023181,195843,0.032597,1116,0.044538,735
6,BOYACA,126425,0.020395,2795,0.019936,122470,0.020384,454,0.018119,706
7,CALDAS,117488,0.018953,2531,0.018053,114032,0.018980,212,0.008461,713
8,CAQUETA,25111,0.004051,1035,0.007382,23791,0.003960,64,0.002554,221
9,CASANARE,42120,0.006795,1008,0.007190,40820,0.006794,89,0.003552,203
10,CAUCA,73439,0.011847,1797,0.012817,70696,0.011767,423,0.016882,523
11,CESAR,107613,0.017360,2678,0.019101,104109,0.017328,247,0.009858,579
12,CHOCO,18704,0.003017,430,0.003067,18106,0.003014,33,0.001317,135
13,CORDOBA,121303,0.019569,3971,0.028323,116037,0.019314,520,0.020753,775
14,CUNDINAMARCA,322629,0.052047,7312,0.052153,312448,0.052005,1332,0.053159,1537
15,GUAINIA,2768,0.000447,37,0.000264,2719,0.000453,1,0.000040,11
16,GUAVIARE,5604,0.000904,105,0.000749,5465,0.000910,6,0.000239,28
17,HUILA,101349,0.016350,3521,0.025114,96902,0.016129,414,0.016522,512
18,LA GUAJIRA,57098,0.009211,1534,0.010941,55118,0.009174,255,0.010177,191
19,MAGDALENA,116470,0.018789,3649,0.026027,112226,0.018679,128,0.005108,467
20,META,105717,0.017054,2555,0.018224,102423,0.017048,262,0.010456,477
21,NARIÑO,104949,0.016930,3327,0.023730,100786,0.016775,282,0.011254,554
22,NORTE SANTANDER,121400,0.019584,5122,0.036533,115132,0.019163,456,0.018199,690
23,PUTUMAYO,20631,0.003328,776,0.005535,19692,0.003278,52,0.002075,111
24,QUINDIO,71276,0.011498,2060,0.014693,68646,0.011426,172,0.006864,398
25,RISARALDA,107259,0.017303,2477,0.017667,103837,0.017283,277,0.011055,668
26,SANTAFE DE BOGOTA D.C,1812958,0.292467,29593,0.211074,1768307,0.294323,9656,0.385361,5402
27,SANTANDER,287715,0.046414,8216,0.058601,277660,0.046215,824,0.032885,1015
28,SUCRE,66551,0.010736,1723,0.012289,64246,0.010693,265,0.010576,317
29,TOLIMA,125349,0.020221,4025,0.028709,120415,0.020042,227,0.009059,682
30,VALLE DEL CAUCA,551933,0.089038,15119,0.107837,530587,0.088313,3125,0.124716,3102
31,VAUPES,1896,0.000306,22,0.000157,1869,0.000311,0,0.000000,5
32,VICHADA,3418,0.000551,62,0.000442,3343,0.000556,7,0.000279,6

In [28]:
# Se crear resumen por departamento y municipios con diferentes estados

Mun = df.groupby(['Lugar', 'ciudad_municipio_nom']).sum().reset_index()

In [29]:
# Se crear resumen por departamento, diferentes estados y se calculan los porcentajes de participación

Mun['% contagios'] = Mun['Contagios']/suma_contagios
Mun['% fallecidos'] = Mun['Fallecidos']/suma_fallecidos
Mun['% recuperados'] = Mun['Recuperados']/suma_recuperados
Mun['% activos'] = Mun['Activo']/suma_activos
Mun

,Lugar,ciudad_municipio_nom,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente,% contagios,% fallecidos,% recuperados,% activos
0,AMAZONAS,EL ENCANTO (CD),7,196,5,1,1,0,0,7,0,0,0.000001,0.000000,0.000001,0.000000
1,AMAZONAS,LA CHORRERA (CD),35,1305,25,8,2,0,3,32,0,0,0.000006,0.000021,0.000005,0.000000
2,AMAZONAS,LA PEDRERA (CD),116,4869,46,53,7,10,5,110,1,0,0.000019,0.000036,0.000018,0.000040
3,AMAZONAS,LETICIA,7111,267409,3378,2907,448,378,244,6831,6,30,0.001147,0.001740,0.001137,0.000239
4,AMAZONAS,MIRITI PARANA (CD),22,1079,13,7,0,2,0,22,0,0,0.000004,0.000000,0.000004,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,VAUPES,YAVARATE (CD),42,1583,20,14,5,3,0,42,0,0,0.000007,0.000000,0.000007,0.000000
1131,VICHADA,CUMARIBO,347,12886,157,156,20,14,13,330,3,1,0.000056,0.000093,0.000055,0.000120
1132,VICHADA,LA PRIMAVERA,209,8102,112,91,3,3,7,200,1,1,0.000034,0.000050,0.000033,0.000040
1133,VICHADA,PUERTO CARREÑO,2724,100400,1496,1112,55,61,40,2677,3,4,0.000439,0.000285,0.000446,0.000120
1134,VICHADA,SANTA ROSALIA,138,4881,74,50,5,9,2,136,0,0,0.000022,0.000014,0.000023,0.000000

In [30]:
Municipio = pd.concat([Mun['Lugar'], Mun['ciudad_municipio_nom'], Mun['Contagios'], Mun['% contagios'], Mun['Fallecidos'], Mun['% fallecidos'], Mun['Recuperados'], Mun['% fallecidos'], Mun['Activo'], Mun['% activos'],Mun['Pendiente']], axis=1)

Municipio.columns = ['Departamento', 'Municipio', 'Contagios', '% contagios', 'Fallecidos', '% fallecidos', 'Recuperados', '% fallecidos', 'Activos', '% activos', 'Pendientes clasificar']

Municipio

,Departamento,Municipio,Contagios,% contagios,Fallecidos,% fallecidos,Recuperados,% fallecidos,Activos,% activos,Pendientes clasificar
0,AMAZONAS,EL ENCANTO (CD),7,0.000001,0,0.000000,7,0.000000,0,0.000000,0
1,AMAZONAS,LA CHORRERA (CD),35,0.000006,3,0.000021,32,0.000021,0,0.000000,0
2,AMAZONAS,LA PEDRERA (CD),116,0.000019,5,0.000036,110,0.000036,1,0.000040,0
3,AMAZONAS,LETICIA,7111,0.001147,244,0.001740,6831,0.001740,6,0.000239,30
4,AMAZONAS,MIRITI PARANA (CD),22,0.000004,0,0.000000,22,0.000000,0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...
1130,VAUPES,YAVARATE (CD),42,0.000007,0,0.000000,42,0.000000,0,0.000000,0
1131,VICHADA,CUMARIBO,347,0.000056,13,0.000093,330,0.000093,3,0.000120,1
1132,VICHADA,LA PRIMAVERA,209,0.000034,7,0.000050,200,0.000050,1,0.000040,1
1133,VICHADA,PUERTO CARREÑO,2724,0.000439,40,0.000285,2677,0.000285,3,0.000120,4
1134,VICHADA,SANTA ROSALIA,138,0.000022,2,0.000014,136,0.000014,0,0.000000,0

In [31]:

# Se exporta datos para menores de 18 años

datos_ninez = df[df['Edad']<18]
datos_ninez

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
34,2021-01-12 00:00:00,1805814,2021-01-09 00:00:00,5,ANTIOQUIA,5615,RIONEGRO,16,1,Masculino,...,ANTIOQUIA,16,0,0,1,0,0,1,0,0
67,2020-09-08 00:00:00,675937,2020-08-27 00:00:00,5,ANTIOQUIA,5088,BELLO,13,1,Femenino,...,ANTIOQUIA,13,0,0,0,1,0,1,0,0
71,2020-09-08 00:00:00,675941,2020-08-27 00:00:00,68,SANTANDER,68081,BARRANCABERMEJA,7,1,Femenino,...,SANTANDER,7,0,0,0,1,0,1,0,0
76,2020-09-08 00:00:00,675946,2020-08-27 00:00:00,50,META,50006,ACACIAS,14,1,Femenino,...,META,14,0,0,0,1,0,1,0,0
77,2020-09-08 00:00:00,675969,2020-08-27 00:00:00,20,CESAR,20001,VALLEDUPAR,2,1,Masculino,...,CESAR,2,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198794,2022-02-05 00:00:00,5956337,2022-01-19 00:00:00,25,CUNDINAMARCA,25295,GACHANCIPA,14,1,Masculino,...,CUNDINAMARCA,14,0,0,1,0,0,1,0,0
6198812,2022-02-05 00:00:00,5956355,2022-01-19 00:00:00,25,CUNDINAMARCA,25843,UBATE,14,1,Masculino,...,CUNDINAMARCA,14,0,0,1,0,0,1,0,0
6198821,2022-02-05 00:00:00,5956364,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,12,1,Masculino,...,META,12,0,0,1,0,0,1,0,0
6198824,2022-02-05 00:00:00,5956367,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,4,1,Femenino,...,META,4,0,0,0,1,0,1,0,0
6198846,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,Masculino,...,META,11,0,0,1,0,0,1,0,0

In [32]:

# Se crear resumen por departamento con diferentes estados con menores de 18 años

Depar_ni = datos_ninez.groupby(['Lugar']).sum().reset_index()

Depar_ni['% contagios'] = Depar_ni['Contagios']/suma_contagios
Depar_ni['% fallecidos'] = Depar_ni['Fallecidos']/suma_fallecidos
Depar_ni['% recuperados'] = Depar_ni['Recuperados']/suma_recuperados
Depar_ni['% activos'] = Depar_ni['Activo']/suma_activos
Depar_ni

,Lugar,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente,% contagios,% fallecidos,% recuperados,% activos
0,AMAZONAS,888,8746,0,0,476,412,2,881,2,3,0.000143,0.000014,0.000147,0.000080
1,ANTIOQUIA,72719,734627,0,0,36475,36244,27,72473,186,33,0.011731,0.000193,0.012063,0.007423
2,ARAUCA,1293,12520,0,0,693,600,1,1281,7,4,0.000209,0.000007,0.000213,0.000279
3,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,670,7488,0,0,317,353,3,666,1,0,0.000108,0.000021,0.000111,0.000040
4,ATLANTICO,45773,450147,0,0,23040,22733,26,45535,182,30,0.007384,0.000185,0.007579,0.007263
5,BOLIVAR,20369,205324,0,0,10166,10203,16,20219,114,20,0.003286,0.000114,0.003365,0.004550
6,BOYACA,10116,110049,0,0,5077,5039,7,10066,30,13,0.001632,0.000050,0.001675,0.001197
7,CALDAS,8543,94464,0,0,4125,4418,3,8527,5,8,0.001378,0.000021,0.001419,0.000200
8,CAQUETA,1966,19268,0,0,932,1034,3,1953,5,5,0.000317,0.000021,0.000325,0.000200
9,CASANARE,3221,33591,0,0,1595,1626,6,3197,12,6,0.000520,0.000043,0.000532,0.000479
10,CAUCA,5677,57711,0,0,2807,2870,5,5592,65,15,0.000916,0.000036,0.000931,0.002594
11,CESAR,12113,116964,0,0,6036,6077,13,12027,50,23,0.001954,0.000093,0.002002,0.001995
12,CHOCO,1882,19256,0,0,837,1045,0,1876,3,3,0.000304,0.000000,0.000312,0.000120
13,CORDOBA,12387,131299,0,0,6050,6337,15,12272,87,13,0.001998,0.000107,0.002043,0.003472
14,CUNDINAMARCA,29075,299503,0,0,14571,14504,14,28897,147,17,0.004690,0.000100,0.004810,0.005867
15,GUAINIA,205,2358,0,0,93,112,0,201,0,4,0.000033,0.000000,0.000033,0.000000
16,GUAVIARE,423,4598,0,0,224,199,0,423,0,0,0.000068,0.000000,0.000070,0.000000
17,HUILA,7367,75788,0,0,3591,3776,11,7286,55,15,0.001188,0.000078,0.001213,0.002195
18,LA GUAJIRA,7368,71124,0,0,3636,3732,9,7308,45,6,0.001189,0.000064,0.001216,0.001796
19,MAGDALENA,12916,131988,0,0,6284,6632,9,12861,28,18,0.002084,0.000064,0.002141,0.001117
20,META,7229,78173,0,0,3624,3605,6,7184,33,6,0.001166,0.000043,0.001196,0.001317
21,NARIÑO,6431,72949,0,0,3117,3314,9,6388,19,15,0.001037,0.000064,0.001063,0.000758
22,NORTE SANTANDER,8867,90951,0,0,4405,4462,18,8773,57,19,0.001430,0.000128,0.001460,0.002275
23,PUTUMAYO,1601,17458,0,0,773,828,2,1584,10,5,0.000258,0.000014,0.000264,0.000399
24,QUINDIO,5208,54768,0,0,2539,2669,2,5186,17,3,0.000840,0.000014,0.000863,0.000678
25,RISARALDA,6531,69447,0,0,3214,3317,3,6492,31,5,0.001054,0.000021,0.001081,0.001237
26,SANTAFE DE BOGOTA D.C,172104,1740115,0,0,86609,85495,56,171143,814,91,0.027764,0.000399,0.028486,0.032486
27,SANTANDER,20160,218152,0,0,10090,10070,12,20101,35,12,0.003252,0.000086,0.003346,0.001397
28,SUCRE,6897,72334,0,0,3416,3481,8,6846,40,3,0.001113,0.000057,0.001139,0.001596
29,TOLIMA,9108,94756,0,0,4516,4592,4,9079,21,4,0.001469,0.000029,0.001511,0.000838
30,VALLE DEL CAUCA,39616,400612,0,0,19821,19795,27,39222,321,46,0.006391,0.000193,0.006528,0.012811
31,VAUPES,132,1417,0,0,60,72,2,130,0,0,0.000021,0.000014,0.000022,0.000000
32,VICHADA,170,1885,0,0,83,87,3,167,0,0,0.000027,0.000021,0.000028,0.000000

In [33]:
Departamento_niñez = pd.concat([Depar_ni['Lugar'], Depar_ni['Contagios'], Depar_ni['% contagios'], Depar_ni['Fallecidos'], Depar_ni['% fallecidos'], Depar_ni['Recuperados'], Depar_ni['% recuperados'], Depar_ni['Activo'], Depar_ni['% activos'], Depar_ni['Pendiente']], axis=1)

Departamento_niñez.columns = ['Departamento', 'Contagios', '% contagios (comparado frente a todos los contagios no solo menores de edad)', 'Fallecidos', '% fallecidos (comparado frente a todos los fallecidos no solo menores de edad)','Recuperados', '% recuperados (comparado frente a todos los recuperados no solo menores de edad)', 'Activos', '% activos (comparado frente a todos los activos no solo menores de edad)','Pendientes clasificar']

Departamento_niñez

,Departamento,Contagios,% contagios (comparado frente a todos los contagios no solo menores de edad),Fallecidos,% fallecidos (comparado frente a todos los fallecidos no solo menores de edad),Recuperados,% recuperados (comparado frente a todos los recuperados no solo menores de edad),Activos,% activos (comparado frente a todos los activos no solo menores de edad),Pendientes clasificar
0,AMAZONAS,888,0.000143,2,0.000014,881,0.000147,2,0.000080,3
1,ANTIOQUIA,72719,0.011731,27,0.000193,72473,0.012063,186,0.007423,33
2,ARAUCA,1293,0.000209,1,0.000007,1281,0.000213,7,0.000279,4
3,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,670,0.000108,3,0.000021,666,0.000111,1,0.000040,0
4,ATLANTICO,45773,0.007384,26,0.000185,45535,0.007579,182,0.007263,30
5,BOLIVAR,20369,0.003286,16,0.000114,20219,0.003365,114,0.004550,20
6,BOYACA,10116,0.001632,7,0.000050,10066,0.001675,30,0.001197,13
7,CALDAS,8543,0.001378,3,0.000021,8527,0.001419,5,0.000200,8
8,CAQUETA,1966,0.000317,3,0.000021,1953,0.000325,5,0.000200,5
9,CASANARE,3221,0.000520,6,0.000043,3197,0.000532,12,0.000479,6
10,CAUCA,5677,0.000916,5,0.000036,5592,0.000931,65,0.002594,15
11,CESAR,12113,0.001954,13,0.000093,12027,0.002002,50,0.001995,23
12,CHOCO,1882,0.000304,0,0.000000,1876,0.000312,3,0.000120,3
13,CORDOBA,12387,0.001998,15,0.000107,12272,0.002043,87,0.003472,13
14,CUNDINAMARCA,29075,0.004690,14,0.000100,28897,0.004810,147,0.005867,17
15,GUAINIA,205,0.000033,0,0.000000,201,0.000033,0,0.000000,4
16,GUAVIARE,423,0.000068,0,0.000000,423,0.000070,0,0.000000,0
17,HUILA,7367,0.001188,11,0.000078,7286,0.001213,55,0.002195,15
18,LA GUAJIRA,7368,0.001189,9,0.000064,7308,0.001216,45,0.001796,6
19,MAGDALENA,12916,0.002084,9,0.000064,12861,0.002141,28,0.001117,18
20,META,7229,0.001166,6,0.000043,7184,0.001196,33,0.001317,6
21,NARIÑO,6431,0.001037,9,0.000064,6388,0.001063,19,0.000758,15
22,NORTE SANTANDER,8867,0.001430,18,0.000128,8773,0.001460,57,0.002275,19
23,PUTUMAYO,1601,0.000258,2,0.000014,1584,0.000264,10,0.000399,5
24,QUINDIO,5208,0.000840,2,0.000014,5186,0.000863,17,0.000678,3
25,RISARALDA,6531,0.001054,3,0.000021,6492,0.001081,31,0.001237,5
26,SANTAFE DE BOGOTA D.C,172104,0.027764,56,0.000399,171143,0.028486,814,0.032486,91
27,SANTANDER,20160,0.003252,12,0.000086,20101,0.003346,35,0.001397,12
28,SUCRE,6897,0.001113,8,0.000057,6846,0.001139,40,0.001596,3
29,TOLIMA,9108,0.001469,4,0.000029,9079,0.001511,21,0.000838,4
30,VALLE DEL CAUCA,39616,0.006391,27,0.000193,39222,0.006528,321,0.012811,46
31,VAUPES,132,0.000021,2,0.000014,130,0.000022,0,0.000000,0
32,VICHADA,170,0.000027,3,0.000021,167,0.000028,0,0.000000,0

In [34]:

# Se crear resumen por departamento y municipios con diferentes estados con menores de 18 años

Mun_ni = datos_ninez.groupby(['Lugar', 'ciudad_municipio_nom']).sum().reset_index()

In [35]:
Mun_ni['% contagios'] = Mun_ni['Contagios']/suma_contagios
Mun_ni['% fallecidos'] = Mun_ni['Fallecidos']/suma_fallecidos
Mun_ni['% recuperados'] = Mun_ni['Recuperados']/suma_recuperados
Mun_ni['% activos'] = Mun_ni['Activo']/suma_activos
Mun_ni

,Lugar,ciudad_municipio_nom,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente,% contagios,% fallecidos,% recuperados,% activos
0,AMAZONAS,EL ENCANTO (CD),1,10,0,0,1,0,0,1,0,0,1.613203e-07,0.000000,1.664435e-07,0.00000
1,AMAZONAS,LA CHORRERA (CD),2,27,0,0,2,0,0,2,0,0,3.226406e-07,0.000000,3.328870e-07,0.00000
2,AMAZONAS,LA PEDRERA (CD),17,193,0,0,7,10,0,17,0,0,2.742445e-06,0.000000,2.829540e-06,0.00000
3,AMAZONAS,LETICIA,826,8090,0,0,448,378,1,821,2,2,1.332506e-04,0.000007,1.366501e-04,0.00008
4,AMAZONAS,MIRITI PARANA (CD),2,24,0,0,0,2,0,2,0,0,3.226406e-07,0.000000,3.328870e-07,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,VAUPES,YAVARATE (CD),8,80,0,0,5,3,0,8,0,0,1.290562e-06,0.000000,1.331548e-06,0.00000
1110,VICHADA,CUMARIBO,34,209,0,0,20,14,3,31,0,0,5.484890e-06,0.000021,5.159749e-06,0.00000
1111,VICHADA,LA PRIMAVERA,6,71,0,0,3,3,0,6,0,0,9.679218e-07,0.000000,9.986611e-07,0.00000
1112,VICHADA,PUERTO CARREÑO,116,1405,0,0,55,61,0,116,0,0,1.871315e-05,0.000000,1.930745e-05,0.00000
1113,VICHADA,SANTA ROSALIA,14,200,0,0,5,9,0,14,0,0,2.258484e-06,0.000000,2.330209e-06,0.00000

In [36]:
Municipio_niñez = pd.concat([Mun_ni['Lugar'], Mun_ni['ciudad_municipio_nom'], Mun_ni['Contagios'],Mun_ni['% contagios'],Mun_ni['Fallecidos'], Mun_ni['% fallecidos'],Mun_ni['Recuperados'], Mun_ni['% recuperados'],Mun_ni['Activo'], Mun_ni['% activos'],Mun_ni['Pendiente']], axis=1)

Municipio_niñez.columns = ['Departamento', 'Municipio','Contagios','% contagiados (comparado frente a todos los contagios no solo menores de edad)','Fallecidos','% fallecidos (comparado frente a todos los fallecidos no solo menores de edad)','Recuperados','% recuperados (comparado frente a todos los recuperados no solo menores de edad)','Activos', '% activos (comparado frente a todos los activos no solo menores de edad)','Pendientes clasificar']

Municipio_niñez

,Departamento,Municipio,Contagios,% contagiados (comparado frente a todos los contagios no solo menores de edad),Fallecidos,% fallecidos (comparado frente a todos los fallecidos no solo menores de edad),Recuperados,% recuperados (comparado frente a todos los recuperados no solo menores de edad),Activos,% activos (comparado frente a todos los activos no solo menores de edad),Pendientes clasificar
0,AMAZONAS,EL ENCANTO (CD),1,1.613203e-07,0,0.000000,1,1.664435e-07,0,0.00000,0
1,AMAZONAS,LA CHORRERA (CD),2,3.226406e-07,0,0.000000,2,3.328870e-07,0,0.00000,0
2,AMAZONAS,LA PEDRERA (CD),17,2.742445e-06,0,0.000000,17,2.829540e-06,0,0.00000,0
3,AMAZONAS,LETICIA,826,1.332506e-04,1,0.000007,821,1.366501e-04,2,0.00008,2
4,AMAZONAS,MIRITI PARANA (CD),2,3.226406e-07,0,0.000000,2,3.328870e-07,0,0.00000,0
...,...,...,...,...,...,...,...,...,...,...,...
1109,VAUPES,YAVARATE (CD),8,1.290562e-06,0,0.000000,8,1.331548e-06,0,0.00000,0
1110,VICHADA,CUMARIBO,34,5.484890e-06,3,0.000021,31,5.159749e-06,0,0.00000,0
1111,VICHADA,LA PRIMAVERA,6,9.679218e-07,0,0.000000,6,9.986611e-07,0,0.00000,0
1112,VICHADA,PUERTO CARREÑO,116,1.871315e-05,0,0.000000,116,1.930745e-05,0,0.00000,0
1113,VICHADA,SANTA ROSALIA,14,2.258484e-06,0,0.000000,14,2.330209e-06,0,0.00000,0

In [37]:

#Se crea variable apra colocar la fecha de reporte

hoy = date.today()-timedelta(days=1)

fecha = hoy.strftime("%Y-%m-%d")
fecha

fechareporte = pd.DataFrame(columns=['Fecha de reporte'],
                  index=range(1))

fechareporte.iloc[0] = (fecha)
fechareporte

  Fecha de reporte
0       2022-07-07

In [38]:
# Se guarda excel con los resumenes creados

with ExcelWriter('0_covid_resumen.xlsx') as writer:
    fechareporte.to_excel(writer, 'Fecha de extracción datos')
    Departamento.to_excel(writer, 'Resumen departamento')
    Municipio.to_excel(writer, 'Resumen municipio')
    Departamento_niñez.to_excel(writer, 'Resumen departamento menor')
    Municipio_niñez.to_excel(writer, 'Resumen municipio menor')

In [39]:
Municipio_por_genero = pd.concat([Mun['Lugar'], Mun['ciudad_municipio_nom'], Mun['Contagios'], Mun['Mayores_Mujeres'], Mun['Mayores_Hombres'], Mun['Menores_Mujeres'], Mun['Menores_Hombres']], axis=1)

Municipio_por_genero.columns = ['Departamento', 'Municipio','No. De personas', 'No. De mujeres mayores de edad', 'No. De hombres mayores de edad', 'No. De mujeres menores de edad', 'No. De hombres menores de edad']

Municipio_por_genero

,Departamento,Municipio,No. De personas,No. De mujeres mayores de edad,No. De hombres mayores de edad,No. De mujeres menores de edad,No. De hombres menores de edad
0,AMAZONAS,EL ENCANTO (CD),7,1,5,0,1
1,AMAZONAS,LA CHORRERA (CD),35,8,25,0,2
2,AMAZONAS,LA PEDRERA (CD),116,53,46,10,7
3,AMAZONAS,LETICIA,7111,2907,3378,378,448
4,AMAZONAS,MIRITI PARANA (CD),22,7,13,2,0
...,...,...,...,...,...,...,...
1130,VAUPES,YAVARATE (CD),42,14,20,3,5
1131,VICHADA,CUMARIBO,347,156,157,14,20
1132,VICHADA,LA PRIMAVERA,209,91,112,3,3
1133,VICHADA,PUERTO CARREÑO,2724,1112,1496,61,55
1134,VICHADA,SANTA ROSALIA,138,50,74,9,5

In [40]:
Mun2 = df.groupby(['Lugar', 'ciudad_municipio_nom', 'recuperado']).sum().reset_index()
Mun2

,Lugar,ciudad_municipio_nom,recuperado,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
0,AMAZONAS,EL ENCANTO (CD),Recuperado,7,196,5,1,1,0,0,7,0,0
1,AMAZONAS,LA CHORRERA (CD),Fallecido,3,212,3,0,0,0,3,0,0,0
2,AMAZONAS,LA CHORRERA (CD),Recuperado,32,1093,22,8,2,0,0,32,0,0
3,AMAZONAS,LA PEDRERA (CD),Activo,1,48,1,0,0,0,0,0,1,0
4,AMAZONAS,LA PEDRERA (CD),Fallecido,5,331,2,3,0,0,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3743,VICHADA,PUERTO CARREÑO,Fallecido,40,2674,23,17,0,0,40,0,0,0
3744,VICHADA,PUERTO CARREÑO,Recuperado,2677,97389,1468,1093,55,61,0,2677,0,0
3745,VICHADA,PUERTO CARREÑO,Sin clasificar,4,190,3,1,0,0,0,0,0,4
3746,VICHADA,SANTA ROSALIA,Fallecido,2,146,1,1,0,0,2,0,0,0
3747,VICHADA,SANTA ROSALIA,Recuperado,136,4735,73,49,5,9,0,136,0,0

In [41]:
Municipio_por_genero_estado = pd.concat([Mun2['Lugar'], Mun2['ciudad_municipio_nom'], Mun2['recuperado'],Mun2['Contagios'], Mun2['Mayores_Mujeres'], Mun2['Mayores_Hombres'], Mun2['Menores_Mujeres'], Mun2['Menores_Hombres']], axis=1)

Municipio_por_genero_estado.columns = ['Departamento', 'Municipio', 'Estado', 'No. De personas', 'No. De mujeres mayores de edad', 'No. De hombres mayores de edad', 'No. De mujeres menores de edad', 'No. De hombres menores de edad']

Municipio_por_genero_estado

,Departamento,Municipio,Estado,No. De personas,No. De mujeres mayores de edad,No. De hombres mayores de edad,No. De mujeres menores de edad,No. De hombres menores de edad
0,AMAZONAS,EL ENCANTO (CD),Recuperado,7,1,5,0,1
1,AMAZONAS,LA CHORRERA (CD),Fallecido,3,0,3,0,0
2,AMAZONAS,LA CHORRERA (CD),Recuperado,32,8,22,0,2
3,AMAZONAS,LA PEDRERA (CD),Activo,1,0,1,0,0
4,AMAZONAS,LA PEDRERA (CD),Fallecido,5,3,2,0,0
...,...,...,...,...,...,...,...,...
3743,VICHADA,PUERTO CARREÑO,Fallecido,40,17,23,0,0
3744,VICHADA,PUERTO CARREÑO,Recuperado,2677,1093,1468,61,55
3745,VICHADA,PUERTO CARREÑO,Sin clasificar,4,1,3,0,0
3746,VICHADA,SANTA ROSALIA,Fallecido,2,1,1,0,0
3747,VICHADA,SANTA ROSALIA,Recuperado,136,49,73,9,5

In [42]:
# Se guarda excel con los resumenes creados

with ExcelWriter('0_covid_para_info.xlsx') as writer:
    Municipio_por_genero.to_excel(writer, 'resumen gen')
    Municipio_por_genero_estado.to_excel(writer, 'Resumen gen est')

In [43]:
### Exportar datos de menores de 18 años

with ExcelWriter('1_covid_lista_niñez.xlsx') as writer:
    datos_ninez.to_excel(writer, 'menores de 18')

### Graficas de analisis

In [44]:
## contagios por edad

#g4 = df.groupby( ['Edad'] ).sum().reset_index()
#plt.figure(figsize=(20,20))
#sns.jointplot(data = g4, x = 'Edad', y = 'Contagios', kind="kde", height=7, space=0)
#plt.ylabel('Contagiados por edad')

## fallecidos por edad

#g5 = df[df['recuperado'] == 'Fallecido']
#g6 = g5.groupby( ['Edad'] ).sum().reset_index()

#plt.figure(figsize=(20,20))
#sns.jointplot(data = g6, x = 'Edad', y = 'Fallecidos', kind="kde", height=7, space=0)
#plt.ylabel('Fallecidos por edad')

In [45]:
## dsitribución estado participantes

#fig = px.pie(df, values='Contagios', names='recuperado', title='Estado contagiados')
#fig.show()

In [46]:
Solo_Fallecidos = df[df['recuperado'] == 'Fallecido']
Solo_Fallecidos

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
28,2021-01-12 00:00:00,1805808,2021-01-09 00:00:00,5,ANTIOQUIA,5001,MEDELLIN,76,1,Femenino,...,ANTIOQUIA,76,0,1,0,0,1,0,0,0
48,2020-09-08 00:00:00,675918,2020-08-27 00:00:00,18,CAQUETA,18001,FLORENCIA,64,1,Masculino,...,CAQUETA,64,1,0,0,0,1,0,0,0
55,2020-09-08 00:00:00,675925,2020-08-27 00:00:00,76,VALLE,76001,CALI,89,1,Masculino,...,VALLE DEL CAUCA,89,1,0,0,0,1,0,0,0
90,2020-09-08 00:00:00,675982,2020-08-27 00:00:00,25,CUNDINAMARCA,25286,FUNZA,58,1,Femenino,...,CUNDINAMARCA,58,0,1,0,0,1,0,0,0
145,2021-04-03 00:00:00,2430743,2021-02-18 00:00:00,47001,STA MARTA D.E.,47001,SANTA MARTA,73,1,Masculino,...,MAGDALENA,73,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198021,2022-02-05 00:00:00,5955564,2022-01-17 00:00:00,73,TOLIMA,73585,PURIFICACION,77,1,Masculino,...,TOLIMA,77,1,0,0,0,1,0,0,0
6198248,2022-02-05 00:00:00,5955791,2022-01-17 00:00:00,73,TOLIMA,73001,IBAGUE,96,1,Masculino,...,TOLIMA,96,1,0,0,0,1,0,0,0
6198534,2022-02-05 00:00:00,5956077,2022-01-18 00:00:00,50,META,50001,VILLAVICENCIO,83,1,Masculino,...,META,83,1,0,0,0,1,0,0,0
6198660,2022-02-05 00:00:00,5956203,2022-01-18 00:00:00,50,META,50001,VILLAVICENCIO,77,1,Masculino,...,META,77,1,0,0,0,1,0,0,0
6198750,2022-02-05 00:00:00,5956293,2022-01-18 00:00:00,25,CUNDINAMARCA,25053,ARBELAEZ,86,1,Masculino,...,CUNDINAMARCA,86,1,0,0,0,1,0,0,0

In [47]:
# fallecidos por rango de edad y genero

#fig2 = px.histogram(Solo_Fallecidos, 
#              x = 'Edad', 
#              color = 'sexo',
#              title='Fallecidos por Edad y sexo') 
#fig2.show()

In [48]:
etnia = df.groupby(['Lugar', 'per_etn_', 'nom_grupo_']).sum().reset_index()
etnia

,Lugar,per_etn_,nom_grupo_,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
0,AMAZONAS,0,0,15,404,7,5,1,2,0,8,7,0
1,AMAZONAS,1,0,240,8539,141,75,13,11,7,233,0,0
2,AMAZONAS,1,13 DE MAYO,1,47,0,1,0,0,0,1,0,0
3,AMAZONAS,1,ALTO CARDOZO,2,103,0,2,0,0,0,2,0,0
4,AMAZONAS,1,ANDOKE,11,477,4,5,2,0,0,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5392,VICHADA,1,TIKUNA,3,88,1,1,1,0,0,3,0,0
5393,VICHADA,1,VAYA Y VUELVA,1,25,1,0,0,0,0,1,0,0
5394,VICHADA,1,ZENU,2,97,0,2,0,0,0,2,0,0
5395,VICHADA,5,0,9,427,7,2,0,0,0,9,0,0
5396,VICHADA,6,0,3194,117914,1732,1315,72,75,59,3130,0,5

In [49]:
etnia_guiajira = etnia[etnia['Lugar']=='LA GUAJIRA']
etnia_guiajira

,Lugar,per_etn_,nom_grupo_,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
2416,LA GUAJIRA,0,0,449,16066,153,206,53,37,0,194,255,0
2417,LA GUAJIRA,1,0,100,3694,41,52,3,4,0,99,0,1
2418,LA GUAJIRA,1,AIPIACHI,2,59,0,2,0,0,0,2,0,0
2419,LA GUAJIRA,1,AIPIOLARAIN,6,216,2,2,1,1,1,5,0,0
2420,LA GUAJIRA,1,AL JOTE,10,396,5,3,1,1,1,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2904,LA GUAJIRA,1,ZENU,69,2870,23,39,3,4,2,67,0,0
2905,LA GUAJIRA,1,wayuu,61,2007,16,35,2,8,0,61,0,0
2906,LA GUAJIRA,2,0,1,34,1,0,0,0,0,1,0,0
2907,LA GUAJIRA,5,0,2272,85910,839,1115,151,167,24,2241,0,7
2908,LA GUAJIRA,6,0,49996,1935256,19597,24019,3157,3223,1355,48472,0,169

In [50]:
etnia_lista_guiajira = etnia_guiajira['nom_grupo_'].tolist()
etnia_lista_guiajira

[0,
 0,
 'AIPIACHI',
 'AIPIOLARAIN',
 'AL JOTE',
 'ALIRAPA',
 'ALTOPLANO SAN ANTONIO',
 'ALUATAPAY',
 'ALUICIRA (ALUISIRRA)',
 'AMAICHON III',
 'AMAICHON SECTOR SABANA',
 'AMAIKULE',
 'AMARIJUNA',
 'AMUCHEN',
 'AMUCHISHIGOU',
 'AMULAMANA',
 'AMURULUBA',
 'AMUSHICHOW (AMUSHISHOU)',
 'AMUTKOU',
 'ANARALITO NUEVO',
 'ANUACHON JULIAKAT',
 'ANYINAKAL',
 'APALASCHON',
 'APOTOLURU',
 'APUNIMANA',
 'ARANGUANSIRA',
 'AREMASAIN',
 'ARENA',
 'ARENALITO',
 'ARENOSA',
 'ARITAIMANA',
 'ARROYO LIMON',
 'ASIJUSHEIN',
 'ATAMANA',
 'ATANQUE',
 'ATAPU',
 'ATATOW',
 'ATNAMANA',
 'ATPANAPOU',
 'ATPATSIMA',
 'ATURAIMPA',
 'ATUSCHOUN',
 'ATUTULI',
 'AULAULIA',
 'BANGA-ITA',
 'BANGAÑITA',
 'BOTOCHERRAIN',
 'CABILDO CARDON',
 'CABILDO CARRIZAL',
 'CABILDO LA PAZ',
 'CACHUYAS',
 'CAIRONARE',
 'CAJON DE MACULE',
 'CALIENTE',
 'CAMPAMENTO',
 'CAMPAMENTO-KARRAPUZER-PALMASOL',
 'CAMPANA',
 'CAMPO ALEGRE',
 'CAMPO FLORIDO',
 'CANEGUACAT',
 'CANEWAKAY',
 'CAPICHIRAULE',
 'CARIACHIL',
 'CARRAIPIA',
 'CARRIZAL',
 'CARROUYACHON',
 'CASA ELECTRICA',
 'CASHUSHUJUNA',
 'CASTILLETE CLAN EPINAYU',
 'CASUSO',
 'CASUTALAIN',
 'CAURACIRA',
 'CEIWACAT',
 'CEMENTEMANA',
 'CERRO',
 'CERRO ALTO CLAN EPIAYU',
 'CERRODEO',
 'CEURA',
 'CHENCHE BUENOS AIRES INDEPENDIENTE',
 'CHICHITUY',
 'CHONCOMANA',
 'CHORROISIRRA',
 'CHOTCHOSIRRA-WALULE-YARRALEEN-MUCHICHEN',
 'CHUNUWOU-ALPATRE-ISHASTU-ISHIWOU-MALIPICHIRRA-SARRUTPANA',
 'COCHORRETAMANA',
 'COCOMANA',
 'COCONUCO',
 'COLONSUAMANA-MACULUBO-JUALITA',
 'COROCITO  YOPALITO WACOYO',
 'COTOYRAI',
 'COUSEPA',
 'COUSHARIPA',
 'CUAMANA',
 'CUIVA-CAÑO VIEJO',
 'CURRIPACO',
 'CURTIRAPLEKA',
 'DIVIDIVI -CORREGIMIENTO DE EL CARDON',
 'DIVINO NIÑO',
 'EIRRATAMANA',
 'EKIMANA',
 'EL CANAL',
 'EL ESTERO',
 'EL LIMONCITO (RI A Y M)',
 'EL MOLINO',
 'EL PASITO',
 'EL PRINCIPIO',
 'EMBERA',
 'EMBERA CHAMI',
 'EMBERA KATIO',
 'EQUIAKAL',
 'ESCOBAR ARRIBA',
 'FLOR DE LA GUAJIRA',
 'FLOR DE LA SABANA',
 'GARCIAMANA',
 'GEMEMAHS-KURAPULEN-JUYUMANA',
 'GUAIMARITO CLAN GUAURIYU',
 'GUAIMARITO CLAN PUSHAINA',
 'GUAIMPLETU',
 'GUAINAP',
 'GUAMACHITO CLAN GOURIYU',
 'GUAMACHITO CLAN GUAURIYU',
 'GUAMACHITO CLAN IPUANA',
 'GUAMACHITO CLAN PUSHAINA',
 'GUANAKAT',
 'GUARPANA',
 'GUAYACASIRA',
 'GUYTICHON',
 'HAIMANA',
 'HEMIMANA',
 'HIOTSHY',
 'HIRTU',
 'HUARE - HUAREN',
 'HURRAICHICHON',
 'HUTAPO',
 'ICHIPANA',
 'ICHITU',
 'ICHIYEN',
 'INGA',
 'INGA DE SANTIAGO',
 'IPAIN',
 'IPAMANA',
 'IPAPURE',
 'IPASHIRRAIN',
 'IRRUALU',
 'IRRUAPA',
 'IRRUWAIN',
 'IRRUWALA',
 'ISHAIN',
 'ISHAMANA',
 'ISHAPA',
 'ISHIPAA',
 'ISHORSHIMANA',
 'ISHOTSHIMANA',
 'IYULIWOOU',
 'JAIPAREIM',
 'JAIPAREN',
 'JALAJATSHITU',
 'JALALAO',
 'JALESAPATU',
 'JAR',
 'JARAIPA',
 'JARESAPAIN',
 'JASACHON',
 'JASAIKA GUADALUPE (CORREG. MUSICHI SECTOR YAWAKA)',
 'JASAIKAT JARALAKAT AGUAKAURI (ZONA CERRO DE LA TETA)',
 'JASALEECHON',
 'JASALIMA KM 80 VIA CARRAIPA',
 'JASAYKA-JARALAKAT-AGUAKAURI',
 'JATKUSIRRA',
 'JATTO (KILOMETRO 30 VIA ALBANIA)',
 'JAYARIMA',
 'JELLUPURE',
 'JEPIMANA',
 'JER JET',
 'JETSU',
 'JIMULASHI (ZONA JOJONCITO)',
 'JIRRUMANA',
 'JISEMANA',
 'JIWARAIN',
 'JOCOTOLIWOU-CALULIWOLI-MOCHOMANA-JULUANOUL',
 'JOLONOLUWO',
 'JOTOMANA',
 'JULIAN PEREZ',
 'JULLAMANA',
 'JULLANASPA- ZONA POPORTIN- CORREGIMIENTO CARDON',
 'JUNUNTAO',
 'JURRULAPIA',
 'JURULUBAN LAS AMERICAS',
 'JUYASIRAIN',
 'KACTOULUMANA',
 'KAIKAISHI',
 'KAITAMANA (ZONA CARRIZAL)',
 'KAIWARRAIMANA (SECTOR POPORTIN- CORREGIMIENTO DE CARDON))',
 'KALAIPIOU',
 'KAMENTSA',
 'KANKUAMO',
 'KAREKAREMANA',
 'KARIMAYA-PERRAWOU-JASHIEMANA',
 'KARRIZAL',
 'KASICHI',
 'KASIRRUMAI (SIERRA MAESTRA)',
 'KASISCHON',
 'KASISKA',
 'KASIWOLAIN (KASIWORIN) ZONA MEDIA LUNA- COREGIMIENTO CABO DE LA VELA',
 'KASUSHI',
 'KATANAMANA',
 'KATURALINCE',
 'KATZALIAMANA UNO',
 'KAUCHACHON',
 'KAUCHIRRAWAPO ZONA CARDON',
 'KAUWAMANA',
 'KAYUHUO',
 'KAYUSWARAALU_ ZONA DE LOS COCOS_ CORREGIMIENTO BAHIA HONDA',
 'KEMERRIARU',
 'KERRARIAMANA (ZONA JONJONCITO- CORREGIMIENTO JONJONCITO)',
 'KERRARIAMANA (ZONA JONJONCITO_ CORREGIMIENTO JONJONCITO)',
 'KOFAN',
 'KOGUI',
 'KOGUI MALAYO ARHUACO',
 'KOJORROMANA',
 'KOLOYOSU',
 'KOOSHIMANA',
 'KUISARU',
 'KULESIAMANA',
 'KUTIMPA',
 'LA ESMERALDA DE CHOCHO',
 'LA ESTRELLA',
 'LA FLORIDA PIRACUARA PAPURI -ZONA ACAZUNIP',
 'LA GLORIA',
 'LA GLORIA N° 2',
 'LA GRANJA',
 'LA LOMA',
 'LA LOMITA CLAN JAYARIYU',
 'LA PAZ',
 'LA TOLDA',
 'LA TUNA SECTOR MUSICHY',
 'LA UNION',
 'LA UNION FLORESTA',
 'LA VILLA',
 'LACANTAMANA',
 'LAS LOMAS',
 'LAS PIEDRAS',
 'LOMA FRESCA',
 'LOMAMATO CLAN EPIAYU',
 'LOMAMATO CLAN GOURIYU',
 'LOMAMATO CLAN PUSHAINA',
 'LOMAS DE HILARCO',
 'LOS MANANTIALES',
 'LOS MANGOS',
 'LOS VENADOS',
 'LUTAKA',
 'MACUCICHON',
 'MACUREMA',
 'MAGILY',
 'MAIKAITO',
 'MAIZ',
 'MAJALI',
 'MAJAYULUMANA',
 'MAJAYURA',
 'MAJAYUTPANA',
 'MAKU',
 'MAKULANTIRRA',
 'MAKURRUIPIA',
 'MALANQUE',
 'MALAWAIKATH',
 'MALEEN-MAISHIPA-WOUPASE',
 'MAMATOCO',
 'MANNARIPA',
 'MAPAJIWOU',
 'MAPUAIN SECTOR CARDON',
 'MAPUAMANA',
 'MAQUINAC',
 'MARA-AMANA (ZONA PARAISO_ CORREGIMIENTO PARAISO)',
 'MARACARY',
 'MARAÑAMANA (ZONA PARAISO_ CORREGIMIENTO PARAISO)',
 'MAREIGUAMANA',
 'MAROUJELLA',
 'MARROYAMANA',
 'MARUZA',
 'MASAMANA',
 'MASHALERRAIN',
 'MASHI',
 'MASHIICHON ANTES BUENOS AIRES',
 'MASUREN',
 'MAURIPAO',
 'MAWASIRRA',
 'MAYALITA',
 'MAYAPO',
 'MAÑATUY',
 'MECHUAMANA',
 'MECOLOMANA',
 'MEDIA LUNA (SECTOR WIMPESHI_ CORREGIMIENTO WIMPESHI)',
 'MEIRA',
 'MERRUNAIN',
 'MEXICO',
 'MEZAMANA',
 'MI RANCHITO',
 'MIRAMAR',
 'MOCHOMANA',
 'MOCUMANA',
 'MOISPA (SECTOR MEDIA LUNA)',
 'MOKANA',
 'MOKANA DE BARANOA',
 'MOKANA DE GALAPA',
 'MOKANA DE MALAMBO',
 'MOMIL URBANO',
 'MONTERREY',
 'MOUWASIRA',
 'MUISCA',
 'MULIATUY',
 'MURALEN',
 'MURRALEN SECTOR MUSICHI',
 'MURRENAMANA',
 'MURUI_UITOTO',
 'MUSAMANA',
 'MUSICHI',
 'NASA_PAEZ',
 'NASA_PAÉZ',
 'OCOMATIRRA SECTOR BAHIA HONDA',
 'OLOKOMANA (OLOCOMANA)',
 'OROCHONKAL',
 'ORROKO',
 'ORROTCHON',
 'OTONMUIN-CARRIZAL',
 'PACLIMANA',
 'PAJARO SOCORRIAL',
 'PAKIMANA',
 'PALASUMANA',
 'PALEMSKA',
 'PALENSO',
 'PALEPALEN',
 'PANCHO',
 'PANTERRAMANA',
 'PARAISO (SECTOR BAHIA HONDA)',
 'PARAISO CLAN PUSHAINA',
 'PARAJAIN (PARALAIN)',
 'PARAJIMARU SECTOR PUERTO LOPEZ CORREGIMIENTO PUERTO LOPEZ',
 'PARANTARUM',
 'PARRITCHON (PARRITCHAN)',
 'PARRITKAD',
 'PARRULUAMANA',
 'PASIPAMANA',
 'PASTO',
 'PATAJATAMANA',
 'PATSUA',
 'PATTAIN',
 'PAÑARRER',
 'PERA`A',
 'PERRAKAT (PERRACAT)',
 'PESUAPA',
 'PES_AL_',
 'PESÜALÜ',
 'PETSUAPA (PEZUAPA) PESUWAPA',
 'PIAZAPA',
 'PIEDRAS BLANCAS',
 'PIJAO',
 'PIOULEKAT',
 'PIRRUWAITAMANA',
 'PISHIRRU',
 'PITSHUSHAMANA',
 'PIYUSHIPANA',
 'POLUMOU',
 'POPORTIN',
 'POPOYA',
 'POROPO CORREGIMIENTO BAHIA HONDA',
 'PORUJARI',
 'POTORKISHIMANA',
 'PUERTO ESTRELLA',
 'PUERTO NARE',
 'PUERTO VIEJO',
 'PUETTALUA',
 'PUIKAT',
 'PURUY - KOLOKOLOIN',
 'PUSCHACHI',
 'Por definir',
 'QUILLACINGA',
 'RIAKAT',
 'RIRITANA',
 'RODEO',
 'SAAINMA',
 'SABANA JUAN Y MEDIO',
 'SABANALARGA PALITO',
 'SABANETA',
 'SAGECITO',
 'SAHAGUN URBANO',
 'SAN ANDRES',
 'SAN ANTONIO URBANO',
 'SAN FELIPE',
 'SAN FERNANDO',
 'SAN ISIDRO',
 'SAN JOSE',
 'SAN JOSE LA JULIA',
 'SAN MARTIN DE AMACAYACU',
 'SANNASH',
 'SANTA ANA',
 'SANTA CRUZ',
 'SANTA RITA',
 'SANTA ROSA',
 'SANTERO',
 'SARAMPIUNAMANA',
 'SARARAO',
 'SARRUT-ATUSCHON-KOUSHOTCHON SECTOR JONJONCITO',
 'SATSAPA',
 'SHALIMANA',
 'SHIRURIA',
 'SHOHOIN',
 'SHOIN IPASHIRRAIN WARIRAJAO',
 'SHOLOTSHIRRA',
 'SHONKOMANA',
 'SHOSQUI',
 'SHUKUREPAIM',
 'SICHEN',
 'SICHICHON SACTUR SACTU',
 'SIERRITA',
 'SIKUANI_GUAHIBO',
 'SIKUANI_Guahibo',
 'SILENCIO',
 'SIONA',
 'SIRRUMATSHI',
 'SIn comunidad',
 'SOCORCO',
 'SOHICHIMANA POLDUSHIRRA',
 'SOULUGUAMANA',
 'SUCURUTPANA (ZONA TRES BOCAS)',
 'SUIMANA',
 'SUTALU',
 'SUXTALU',
 'Sin Comunidad',
 'TABLAZO - POTRERITO',
 'TAGUAYA',
 'TANKAMANA',
 'TAWARAJOSEMANA',
 'TEKIA',
 'THALOULAMANA',
 'TIERRA ALTICA',
 'TOLOMANA',
 'TOROMANA',
 'TRES BOCAS SUKURRUTPANA-JUYOURI-LUUMA-KALAIPANA-YOULENWOU-SEUILL_ SECTOR TAPAJARAIN',
 'TRIJAIN',
 'TRONJOMANA',
 'ULECIA',
 'UNIAKAT',
 'URIPTAURE',
 'URIYUNAKAT',
 'URRAHCHIRAP',
 'URRAICHI',
 'URRAICHIQUEPU',
 'URRAICHY',
 'USHURU',
 'UTALIMANA',
 'UYALIPAA',
 'UYATPANA',
 'VENECIA',
 'VILLA CATALINA DE PUERTO ROSARIO',
 'VILLA LOURDES',
 'WACTAKIRRAT',
 'WAITAKI',
 'WAJALECHON',
 'WALI APALAA',
 'WAMAYAO KM 17 VIA URIBIA ANTIGUA',
 'WANEE IPERRA',
 'WARA WARAO',
 'WARARALAIN',
 'WASIMAL',
 'WATAPARA',
 'WAWALIWOU',
 'WAWATAMANA',
 'WAYATAMANA',
 'WAYENETAMANA',
 'WAYUU',
 'WIMPIRAREM',
 'WIRRURIAN',
 'WIWA',
 'WOLIWA',
 'WOLUWONPANA',
 'WOSTOLEN',
 'WUINKUALU',
 'WUNUPARAT',
 'XUBEO',
 'YARALIWOU',
 'YARETSHIKAL',
 'YAWACAT (YAGUACAT)',
 'YORROLOKI',
 'YOUREPU',
 'YUKPA',
 'YUNA',
 'YUNTAMANA',
 'YUTAHO',
 'ZENU',
 'wayuu',
 0,
 0,
 0]

In [51]:
etnia_lista_guiajira_in = etnia_guiajira[etnia_guiajira['per_etn_'] == '1']
etnia_lista_guiajira_in

,Lugar,per_etn_,nom_grupo_,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
2417,LA GUAJIRA,1,0,100,3694,41,52,3,4,0,99,0,1
2418,LA GUAJIRA,1,AIPIACHI,2,59,0,2,0,0,0,2,0,0
2419,LA GUAJIRA,1,AIPIOLARAIN,6,216,2,2,1,1,1,5,0,0
2420,LA GUAJIRA,1,AL JOTE,10,396,5,3,1,1,1,9,0,0
2421,LA GUAJIRA,1,ALIRAPA,1,26,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2901,LA GUAJIRA,1,YUNA,3,58,0,1,2,0,0,3,0,0
2902,LA GUAJIRA,1,YUNTAMANA,3,62,0,2,1,0,0,3,0,0
2903,LA GUAJIRA,1,YUTAHO,2,65,0,2,0,0,0,2,0,0
2904,LA GUAJIRA,1,ZENU,69,2870,23,39,3,4,2,67,0,0
2905,LA GUAJIRA,1,wayuu,61,2007,16,35,2,8,0,61,0,0

In [52]:
etnia_contagios_guajira = etnia_lista_guiajira_in.groupby(['Lugar']).sum().reset_index()
etnia_contagios_guajira

,Lugar,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
0,LA GUAJIRA,4380,161180,1509,2291,275,305,155,4210,0,15

In [53]:
etnia_lista_guiajira = etnia_guiajira['nom_grupo_'].count()
etnia_lista_guiajira

493

In [54]:
etnia_choco = etnia[etnia['Lugar']=='CHOCO']
etnia_choco

,Lugar,per_etn_,nom_grupo_,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
1547,CHOCO,0,0,82,3036,31,43,5,3,0,49,32,1
1548,CHOCO,1,ARACHE,2,77,0,2,0,0,0,2,0,0
1549,CHOCO,1,BELLAVISTA,1,18,0,1,0,0,0,1,0,0
1550,CHOCO,1,BIAKIDURE,1,25,1,0,0,0,0,1,0,0
1551,CHOCO,1,BOSSA NAVARRO,1,47,0,1,0,0,0,1,0,0
1552,CHOCO,1,BUENAVISTA,1,42,0,1,0,0,0,1,0,0
1553,CHOCO,1,CHANU,5,152,4,1,0,0,0,5,0,0
1554,CHOCO,1,COCAMA,2,96,1,1,0,0,1,1,0,0
1555,CHOCO,1,COCHORRETAMANA,1,23,0,1,0,0,0,1,0,0
1556,CHOCO,1,COLONSUAMANA-MACULUBO-JUALITA,1,18,1,0,0,0,0,1,0,0
1557,CHOCO,1,COREGUAJE,1,52,0,1,0,0,0,1,0,0
1558,CHOCO,1,CUBEO,1,35,0,1,0,0,0,1,0,0
1559,CHOCO,1,DOMINICO,2,119,1,1,0,0,0,2,0,0
1560,CHOCO,1,EL LLANO,1,36,0,1,0,0,0,1,0,0
1561,CHOCO,1,EMBERA,37,1025,9,19,5,4,1,36,0,0
1562,CHOCO,1,EMBERA CHAMI,1,27,1,0,0,0,0,1,0,0
1563,CHOCO,1,EMBERA KATIO,20,693,9,6,2,3,0,20,0,0
1564,CHOCO,1,GUADUALITO,1,25,0,1,0,0,0,1,0,0
1565,CHOCO,1,INGA,1,30,0,1,0,0,0,1,0,0
1566,CHOCO,1,INGA DE SANTIAGO,1,76,1,0,0,0,0,1,0,0
1567,CHOCO,1,KANKUAMO,1,95,0,1,0,0,0,1,0,0
1568,CHOCO,1,KEREZIAMANA,1,30,1,0,0,0,0,1,0,0
1569,CHOCO,1,KIPARA ZONA 1,1,49,0,1,0,0,0,1,0,0
1570,CHOCO,1,MACEDONIA,7,181,2,3,2,0,0,7,0,0
1571,CHOCO,1,MOJARRITA ZONA 2,1,33,1,0,0,0,0,1,0,0
1572,CHOCO,1,MUISCA,1,42,1,0,0,0,0,1,0,0
1573,CHOCO,1,MURUI_UITOTO,1,18,1,0,0,0,0,1,0,0
1574,CHOCO,1,PASTO,3,78,3,0,0,0,0,3,0,0
1575,CHOCO,1,PIJAO,4,163,3,1,0,0,0,4,0,0
1576,CHOCO,1,PLAYITA,1,13,0,0,1,0,0,1,0,0
1577,CHOCO,1,PLAYON,1,32,1,0,0,0,0,1,0,0
1578,CHOCO,1,PORCHINA,1,62,0,1,0,0,0,1,0,0
1579,CHOCO,1,Por definir,198,6554,87,69,19,23,6,189,0,3
1580,CHOCO,1,REFUGIO DEL SOL,1,41,0,1,0,0,0,1,0,0
1581,CHOCO,1,SITIO VIEJO,1,76,1,0,0,0,0,1,0,0
1582,CHOCO,1,Sin Comunidad,28,1013,12,14,1,1,1,27,0,0
1583,CHOCO,1,UNIFICADO CHAMI RIO SAN JUAN,1,27,0,1,0,0,0,1,0,0
1584,CHOCO,1,UNION CHOCO,1,78,1,0,0,0,0,1,0,0
1585,CHOCO,1,UNION CUITY,2,66,2,0,0,0,0,2,0,0
1586,CHOCO,1,UNION WOUNAAN,1,20,0,1,0,0,0,1,0,0
1587,CHOCO,1,WOUNAAN_WAUNANA,5,140,2,1,0,2,0,5,0,0
1588,CHOCO,1,YUCAL RIO PANGUI,2,32,1,0,0,1,0,2,0,0
1589,CHOCO,1,ZENU,6,259,3,3,0,0,0,5,0,1
1590,CHOCO,5,0,15612,611019,5942,8099,700,871,334,15173,1,104
1591,CHOCO,6,0,2660,101927,1378,1043,102,137,87,2547,0,26

In [55]:
etnia_lista_guiajira_ROM = etnia_guiajira[etnia_guiajira['per_etn_'] == '2']
etnia_lista_guiajira_ROM

,Lugar,per_etn_,nom_grupo_,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
2906,LA GUAJIRA,2,0,1,34,1,0,0,0,0,1,0,0

In [56]:
etnia_lista_guiajira_Raizal = etnia_guiajira[etnia_guiajira['per_etn_'] == '3']
etnia_lista_guiajira_Raizal

Empty DataFrame
Columns: [Lugar, per_etn_, nom_grupo_, Contagios, Edad, Mayores_Hombres, Mayores_Mujeres, Menores_Hombres, Menores_Mujeres, Fallecidos, Recuperados, Activo, Pendiente]
Index: []

In [57]:
etnia_lista_guiajira_palenqueros = etnia_guiajira[etnia_guiajira['per_etn_'] == '4']
etnia_lista_guiajira_palenqueros

Empty DataFrame
Columns: [Lugar, per_etn_, nom_grupo_, Contagios, Edad, Mayores_Hombres, Mayores_Mujeres, Menores_Hombres, Menores_Mujeres, Fallecidos, Recuperados, Activo, Pendiente]
Index: []

In [58]:
etnia_lista_guiajira_afro = etnia_guiajira[etnia_guiajira['per_etn_'] == '5']
etnia_lista_guiajira_afro

,Lugar,per_etn_,nom_grupo_,Contagios,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
2907,LA GUAJIRA,5,0,2272,85910,839,1115,151,167,24,2241,0,7

In [59]:
indigenas = df[df['per_etn_'] == '1']
indigenas

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
6,2021-01-15 00:00:00,1851419,2021-01-12 00:00:00,52,NARIÑO,52227,CUMBAL,24,1,Masculino,...,NARIÑO,24,1,0,0,0,0,1,0,0
7,2021-01-15 00:00:00,1851420,2021-01-11 00:00:00,52,NARIÑO,52227,CUMBAL,24,1,Masculino,...,NARIÑO,24,1,0,0,0,0,1,0,0
8,2021-01-15 00:00:00,1851421,2021-01-12 00:00:00,52,NARIÑO,52317,GUACHUCAL,33,1,Masculino,...,NARIÑO,33,1,0,0,0,0,1,0,0
60,2020-09-08 00:00:00,675930,2020-08-27 00:00:00,66,RISARALDA,66001,PEREIRA,42,1,Femenino,...,RISARALDA,42,0,1,0,0,0,1,0,0
82,2020-09-08 00:00:00,675974,2020-08-27 00:00:00,8,ATLANTICO,8296,GALAPA,17,1,Masculino,...,ATLANTICO,17,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198162,2022-02-05 00:00:00,5955705,2022-01-17 00:00:00,50,META,50568,PUERTO GAITAN,25,1,Femenino,...,META,25,0,1,0,0,0,1,0,0
6198410,2022-02-05 00:00:00,5955953,2022-01-18 00:00:00,25,CUNDINAMARCA,25307,GIRARDOT,21,1,Femenino,...,CUNDINAMARCA,21,0,1,0,0,0,1,0,0
6198511,2022-02-05 00:00:00,5956054,2022-01-18 00:00:00,50,META,50568,PUERTO GAITAN,31,1,Masculino,...,META,31,1,0,0,0,0,1,0,0
6198577,2022-02-05 00:00:00,5956120,2022-01-18 00:00:00,50,META,50001,VILLAVICENCIO,44,1,Femenino,...,META,44,0,1,0,0,0,1,0,0
6198677,2022-02-05 00:00:00,5956220,2022-01-18 00:00:00,50,META,50568,PUERTO GAITAN,51,1,Masculino,...,META,51,1,0,0,0,0,1,0,0

In [60]:
ROMS = df[df['per_etn_'] == '2']
ROMS

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
7223,2021-01-27 00:00:00,2054809,2020-12-28 00:00:00,25,CUNDINAMARCA,25290,FUSAGASUGA,43,1,Femenino,...,CUNDINAMARCA,43,0,1,0,0,0,1,0,0
46026,2020-09-27 00:00:00,808515,2020-09-24 00:00:00,68,SANTANDER,68307,GIRON,78,1,Masculino,...,SANTANDER,78,1,0,0,0,1,0,0,0
95661,2020-07-17 00:00:00,177971,2020-07-14 00:00:00,8,ATLANTICO,8638,SABANALARGA,57,1,Femenino,...,ATLANTICO,57,0,1,0,0,0,1,0,0
95662,2020-07-17 00:00:00,177972,2020-07-14 00:00:00,8,ATLANTICO,8638,SABANALARGA,5,1,Masculino,...,ATLANTICO,5,0,0,1,0,0,1,0,0
95663,2020-07-17 00:00:00,177973,2020-07-14 00:00:00,8,ATLANTICO,8638,SABANALARGA,26,1,Masculino,...,ATLANTICO,26,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6094343,2022-01-27 00:00:00,5812890,2022-01-20 00:00:00,68,SANTANDER,68307,GIRON,20,1,Masculino,...,SANTANDER,20,1,0,0,0,0,1,0,0
6094354,2022-01-27 00:00:00,5812901,2022-01-20 00:00:00,68,SANTANDER,68307,GIRON,14,1,Masculino,...,SANTANDER,14,0,0,1,0,0,1,0,0
6097642,2022-01-27 00:00:00,5816189,2022-01-20 00:00:00,68,SANTANDER,68307,GIRON,20,1,Masculino,...,SANTANDER,20,1,0,0,0,0,1,0,0
6181300,2022-02-04 00:00:00,5938844,2022-02-01 00:00:00,11,BOGOTA,11001,BOGOTA,30,1,Femenino,...,SANTAFE DE BOGOTA D.C,30,0,1,0,0,0,1,0,0
6189161,2022-02-05 00:00:00,5946704,2022-02-02 00:00:00,68,SANTANDER,68307,GIRON,36,1,Masculino,...,SANTANDER,36,1,0,0,0,0,1,0,0

In [61]:
Raizal = df[df['per_etn_'] == '3']
Raizal

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
21892,2020-09-13 00:00:00,711666,2020-09-09 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,3,1,Femenino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,3,0,0,0,1,0,1,0,0
21900,2020-09-13 00:00:00,711674,2020-09-05 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,43,1,Femenino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,43,0,1,0,0,0,1,0,0
46237,2020-10-15 00:00:00,931995,2020-10-05 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,19,1,Masculino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,19,1,0,0,0,0,1,0,0
46433,2020-10-15 00:00:00,931998,2020-10-05 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,19,1,Masculino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,19,1,0,0,0,0,1,0,0
46434,2020-10-15 00:00:00,931999,2020-10-05 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,19,1,Masculino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,19,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3810293,2020-09-30 00:00:00,827307,2020-09-23 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,43,1,Femenino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,43,0,1,0,0,0,1,0,0
3814051,2020-09-10 00:00:00,690424,2020-09-08 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,23,1,Femenino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,23,0,1,0,0,0,1,0,0
3816224,2020-09-30 00:00:00,827099,2020-09-15 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,41,1,Masculino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,41,1,0,0,0,0,1,0,0
3816254,2020-09-30 00:00:00,827129,2020-09-15 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,69,1,Femenino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,69,0,1,0,0,1,0,0,0
4905016,2020-09-24 00:00:00,786053,2020-09-22 00:00:00,88,SAN ANDRES,88001,SAN ANDRES,32,1,Masculino,...,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,32,1,0,0,0,0,1,0,0

In [62]:
palenqueros = df[df['per_etn_'] == '4']
palenqueros

Empty DataFrame
Columns: [fecha_reporte_web, id_de_caso, fecha_de_notificaci_n, departamento, departamento_nom, ciudad_municipio, ciudad_municipio_nom, edad, unidad_medida, sexo, fuente_tipo_contagio, ubicacion, estado, recuperado, fecha_inicio_sintomas, fecha_diagnostico, fecha_recuperado, tipo_recuperacion, per_etn_, nom_grupo_, fecha_muerte, pais_viajo_1_cod, pais_viajo_1_nom, Contagios, Lugar, Edad, Mayores_Hombres, Mayores_Mujeres, Menores_Hombres, Menores_Mujeres, Fallecidos, Recuperados, Activo, Pendiente]
Index: []

[0 rows x 34 columns]

In [63]:
negros = df[df['per_etn_'] == '5']
negros

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,Lugar,Edad,Mayores_Hombres,Mayores_Mujeres,Menores_Hombres,Menores_Mujeres,Fallecidos,Recuperados,Activo,Pendiente
72,2020-09-08 00:00:00,675942,2020-08-27 00:00:00,20,CESAR,20400,LA JAGUA DE IBIRICO,18,1,Femenino,...,CESAR,18,0,1,0,0,0,1,0,0
161,2021-04-03 00:00:00,2430759,2021-03-27 00:00:00,76,VALLE,76109,BUENAVENTURA,60,1,Femenino,...,VALLE DEL CAUCA,60,0,1,0,0,0,1,0,0
186,2021-04-03 00:00:00,2430784,2021-03-26 00:00:00,76,VALLE,76109,BUENAVENTURA,71,1,Femenino,...,VALLE DEL CAUCA,71,0,1,0,0,0,1,0,0
226,2021-03-26 00:00:00,2366941,2021-03-13 00:00:00,8001,BARRANQUILLA,8001,BARRANQUILLA,29,1,Femenino,...,ATLANTICO,29,0,1,0,0,0,1,0,0
420,2021-04-03 00:00:00,2435303,2021-03-24 00:00:00,8001,BARRANQUILLA,8001,BARRANQUILLA,64,1,Masculino,...,ATLANTICO,64,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197842,2022-02-05 00:00:00,5955385,2022-01-15 00:00:00,44,GUAJIRA,44001,RIOHACHA,24,1,Masculino,...,LA GUAJIRA,24,1,0,0,0,0,1,0,0
6197846,2022-02-05 00:00:00,5955389,2022-01-15 00:00:00,44,GUAJIRA,44001,RIOHACHA,25,1,Masculino,...,LA GUAJIRA,25,1,0,0,0,0,1,0,0
6197854,2022-02-05 00:00:00,5955397,2022-01-15 00:00:00,44,GUAJIRA,44001,RIOHACHA,52,1,Masculino,...,LA GUAJIRA,52,1,0,0,0,0,1,0,0
6197856,2022-02-05 00:00:00,5955399,2022-01-15 00:00:00,44,GUAJIRA,44001,RIOHACHA,19,1,Femenino,...,LA GUAJIRA,19,0,1,0,0,0,1,0,0
6197877,2022-02-05 00:00:00,5955420,2022-01-16 00:00:00,44,GUAJIRA,44001,RIOHACHA,4,1,Femenino,...,LA GUAJIRA,4,0,0,0,1,0,1,0,0

In [64]:
### Exportar datos por etnia

with ExcelWriter('por_etnias.xlsx') as writer:
    indigenas.to_excel(writer, 'indigenas')
    ROMS.to_excel(writer, 'Roms')
    Raizal.to_excel(writer, 'Raizal')
    palenqueros.to_excel(writer, 'palenqueros')
    negros.to_excel(writer, 'afro')